<nav>
  <ul>
    <li><a href="/login">Log In</a></li>
    <li><a href="/Learnmore">Learn More</a></li>
  </ul>
</nav>
<header>
  <h1>KNEKT</h1>
  <h2>Welcome To A New Era Of Communication</h2>
  <p>With KNEKT you can connect with your friends more conviently than ever. <br>
    Simply open the app and find which friends are ready to hang.</p>
</header>
<main>
  <form>
    <h4>Find Your Friends Today!</h4>
    <input type="text" name"email" placeholder="Email">
    <br>
    <input type="text" name"password" placeholder="Create Password">
    <br>
    <button type="submit">Sign Up</button>
  </form>
  <p>All You need to sign up for KNEKT is an email. It's that simple!</p>
</main>