<header>
  <h1>KNEKT</h1>
  <h2>Welcome To A New Era Of Communication</h2>
  <p>With KNEKT you can connect with your friends more conviently than ever. <br>
    Simply open the app and find which friends are ready to hang.</p>
</header>
<main>
  <form>
    <h2>Find Your Friends Today!</h2>
    <input type="email" name="email" placeholder="Email" required>
    <br>
    <input type="password" name="password" placeholder="Create Password" required>
    <br>
    <button type="submit">SIGN UP</button>
  </form>
</main>

<section class="icons">
  <span class="fa-stack fa-lg">
    <i class="fa fa-circle fa-stack-2x fa-inverse"></i>
    <i class="fa fa-envelope fa-stack-1x"></i>
    <span class="bubble">Send Message To Your Friends</span>
  </span>
  <span class="fa-stack fa-lg">
    <i class="fa fa-circle fa-stack-2x fa-inverse"></i>
    <i class="fa fa-users fa-stack-1x"></i>
    <span class="bubble">See Who Is on KNEKT</span>
  </span>
  <span class="fa-stack fa-lg">
    <i class="fa fa-circle fa-stack-2x fa-inverse"></i>
    <i class="fa fa-rss fa-stack-1x"></i>
    <span class="bubble">Check out KNEKT's blogging community</span>
  </span>
  <span class="fa-stack fa-lg">
    <i class="fa fa-circle fa-stack-2x fa-inverse"></i>
    <i class="fa fa-camera fa-stack-1x"></i>
    <span class="bubble">See KNEKT's amazing camera tools.</span>
  </span>
</section>